{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<div class="container mt-2">
		<div class="row">
<div class="col-md-6 offset-md-3">


				<div class="jumbotron">
					<h1> Connectez Vous ! </h1>
{% if error %}
	<div class="alert alert-danger">Une erreur est survenue,le nom d'utilisateur ou alors le mot de passe est invalide
	</div>

{% endif %}

<form action="{{path('account_login')}}" method="post">

						<div class="form-group">
							<label for="email">Email
							</label>
<input type="email" name="_username" class="form-control" id="email" value="{{ last_username }}" aria-describedby=" emailHelp" placeholder="email...">


						</div>
						<div class="form-group">
							<label for="password">mot de passe</label>
							<input type="password" class="form-control" name="_password" id="password" placeholder="mot de passe ..." required>
						</div>

						<button type="submit" class="btn btn-primary"><i class="fas fa-lock-open mr-1"></i>login</button>
					</form>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
