{% extends "exercise_teacher/detail.html.twig" %}
{% block title %}détail
{% endblock %}
{% block body %}
	<div class="container">
		<nav aria-label="breadcrumb mt-2">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">
					<a href="#" id="back" class="btn btn-info">

						<i class="fas fa-angle-left"></i>Retour</a>


				</li>


			</ol>
		</nav>
		<table class="table table-hover">
			<thead>
				<tr>

					<th scope="col">etudiant</th>

					<th scope="col">status</th>
					<th scope="col">nombre de tentation</th>

				</tr>
			</thead>
			<tbody>
				{% for tab in result %}


					<tr>

						<td>{{tab['name']}}</td>
						{% if tab['status'] == true %}
							<td>
								<i class="far fa-check-circle text-success"></i>
							</td>


						{% else %}
							<td>
								<i class="far fa-times-circle text-danger"></i>

							</td>

						{% endif %}
						<td>{{tab['nomberTry']}}</td>
					</tr>
                   
                        
                    {% endfor %}
				</td>
			</tbody>
		</table>
	</div>
{% endblock %}
