{% extends "partials_teacher/base.html.twig" %}
{% block title %}Modifier{% endblock %}
{% block body %}
<div class="container">
<nav aria-label="breadcrumb mt-2">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active" aria-current="page">
<a href="{{path('classes_teacher')}}" class="btn btn-info">
	<i class="fas fa-angle-left"></i>Retour</a>

		</li>

	</ol>
</nav>

{{form_start(form)}}
{{form_widget(form)}}

<button type="submit" class="btn btn-info">
	<i class="fas fa-save"></i>Enregistrer</button>

{{form_end(form)}}

</div>


{% endblock %}