{% extends "base.html.twig" %}
{% block body %}
	<div class="container-fluid p-0">

		<div class="card bg-dark text-white">
			<img src="{{ asset('img/walper3.jpg') }}" class="card-img" alt="dev" style="height:600px">

			<div class="card-img-overlay">
				<h3 class="card-title text-center" style="text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5)">
					<strong>SymApp</strong>
				</h3>

				<p class="card-text text-center" class="text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5)">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam molestiae magni consequuntur esse, autem tempore alias corporis aliquam itaque libero.</p>

				<p class="card-text text-center" class="text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5)">Lorem ipsum dolor sit amet.</p>

			</div>
		</div>



	</div>


{% endblock %}
